#selectdisp_left { float:left; width:20%; }
#selectdisp_right { float:right; width:80%;}
#selectmenu { width: 100%; }
#selectmenu li a {
   voice-family: "\"}\""; 
   voice-family: inherit;
   text-decoration: none;
text-decoration: none; margin-left:-25px; padding: 8px; color: #2d2b2b; background: white url(shade.gif) top left repeat-x;
   font-weight:bold;
}  
   
#selectmenu li a:link, #selectmenu li a:visited { display: block; }
   
.shadetabs { margin-left:3px; margin-top: 10px; margin-bottom: 0; list-style-type: none; text-align: left; /*set to left, center, or right to align the menu as desired*/ }
.shadetabs li { clear:both; margin:0; margin-bottom:2px; padding:0px; }
.shadetabs li a { text-decoration: none; border: 1px solid #999999; border-right:none; color: #2d2b2b; background: white url(shade.gif) top left repeat-x; }
.shadetabs li a:visited { color: #2d2b2b; }
.shadetabs li a:hover { text-decoration: underline; color: #2d2b2b; }
#selectmenu li.selected a { /*selected main tab style */ background-image: url(shadeactive.gif); }
#selectmenu li.selected a:hover { /*selected main tab style */ text-decoration: none; }

.contentstyle { min-height:250px; background:url(../images/insert_bg.gif) top left repeat-x; border: 1px solid #999999; width: 93%; margin-bottom: 1em; padding: 18px; font-size:94%; }
.contentstyle h2 { font-size:150%; }