body {
	margin : 0;
	padding : 0;
	overflow : hidden;
}

#container {
	background : #fff url(images/bg_banner.png) repeat-x top center;
	color : #000;
	font-family : Calibri, Arial, sans-serif;
	font-size : small;
	height : 900px;
	min-width : 880px;
	text-align : left;
}

#top_frame {
	border-top : 10px solid #003;
	height : 100%;
	width : 100%;
}

#datetime {
	background : #000033;
	float : left;
	height : 117px;
	width : 40%;
}

#datetime_padding {
	background : #003;
	padding : 0 0 0 10px;
}

#datetime_left {
	background : #003;
	float : left;
	width : 25%;
}

#datetime_left_padding {
	background : #003;
	padding : 0 12% 0 12%;
}

#datetime_right {
	float : right;
	font-size : 1.7em;
	width : 75%;
}

#datetime_right_padding {
	padding : 0 0 0 8%;
}

#datetime_right_padding h1 {
	color : #fff;
	margin : 0;
	padding : 0;
}

#datetime_right_padding h2 {
	font-family : sans-serif;
	font-size : 2.3em;
	font-weight : bold;
	color : #fff;
	margin : 0;
	padding : 0;
}

#ticker {
	background : #336699 url(images/swoosh_top.gif) no-repeat center left;
	float : right;
	height : 117px;
	width : 60%;
}

#ticker_frame {
	position : relative;
	height : 97px;
	padding : 10px 25px 10px 220px;
	color : #fff;
	margin : 0;
}

#ticker_padding {
	display : block;
	height : 100%;
}

#swoosh_bottom {
	background : #003 url(images/swoosh_bottom.gif) no-repeat center right;
	float : left;
	height : 20px;
	width : 40%;
}

#mainpane {
	background : url(images/mp_bg.gif) no-repeat bottom left;
	clear : both;
	width : 100%;
	height : 50%;
}

#mainpane_padding {
	padding : 35px 25px 35px 35px;
	height : 100%;
}

#tp1_cal {
	height : 100%;
	float : left;
	width : 37%;
}

#tp1_cal_padding {
	position : relative;
	display : block;
	height : 100%;
	padding-right : 10%;
}

#tp1_graphic {
	display : block;
	background : gray;
	border : 5px solid #ccc;
	float : right;
	width : 61%;
	height : 100%;
}

