/*	
   CONCERTO
   CSS Document
   *************************
   These styles are used for all administrator panels (v2.0).
	Copyright 2008 Brian R Zaik, Concerto Team
*/

/*=========	GENERAL STYLES =========*/
body { background:url(../images/footer_bg.gif) repeat; }
body, html { border:0;color:#000;font-family:Arial, Verdana, sans-serif;font-size:small;margin:0 auto;min-width:980px; padding:0; }
a { color:#006699; font-weight:bold; text-decoration:none; }
a:hover { color:#666; text-decoration:underline; }

#wrap {  }

#header { background:#000;border-bottom:6px solid #ccc;clear:both;color:#ccc;font-size:85%;margin:0px;padding:0px;text-align:left; height:20px; }
#header_padding { padding:15px 0px 0px 0px; }
#header h1 { color:#ccc;font-size:250%;font-weight:700; }
#header a:link, #header a:visited { color:#ccc;text-decoration:none; }
#header a:hover { color:#FFF;text-decoration:none;; }

#content_header { background:#eaeaea;padding-left:195px; }
#content_header h1 { color:#000;margin:0px; padding:30px 0px 0px 0px; }
#content_header h2 { color:#333;font-weight:700;font-size:0.85em;margin:5px 0 0px 0px;padding:0px 0px 5px 0px; }
#content_header h2 a { color:#069;text-decoration:none; }
#content_header h2 a:hover { text-decoration:underline; }
#left_bg { float:left;width:200px; }

#menuframe { color:#FFF;left:20px;position:absolute;top:0;width:140px; }
div.logo_box, div.menu_box_content { background:#069 url(../images/logobox_bottom.gif) bottom center no-repeat;border-left:solid 1px #FFF;border-right:solid 1px #FFF;border-bottom:solid 1px #FFF;border-top:0;margin-bottom:2px; }

div.menu_box { background:url(../images/menu_bg.gif) repeat;font-size:0.9em; border-left:solid 1px #FFF;border-right:solid 1px #FFF;border-bottom:solid 1px #FFF;border-top:0;margin-bottom:2px; text-align:center; }
div.menu_box a:link, div.menu_box a:visited, .menu_box_content a:visited { color:#FFF;text-decoration:none; }
div.menu_box img { text-align:center; }
div.menu_box a:hover, .menu_box_content a:hover { color:#ccc;text-decoration:underline; }
div.menu_box_inset { background:url(../images/menubox_top.gif) top center no-repeat; }
div.menu_box_padding { background:url(../images/menubox_bottom.gif) bottom center no-repeat; }

div.alert_box { color:#006699; background:url(../images/alert_box.gif) repeat;font-size:0.9em; border-left:solid 1px #FFF;border-right:solid 1px #FFF;border-bottom:solid 1px #FFF;border-top:0; margin-bottom:2px; text-align:center; }
div.alert_box p { color:#006699; padding:2px; font-weight:bold; }
div.alert_box a { color:#006699; text-decoration:none; }
div.alert_box a:hover { color:#003366; text-decoration:underline; }
div.alert_box_inset { background:url(../images/alertbox_top.gif) top center no-repeat; }
div.alert_box_padding { background:url(../images/alertbox_bottom.gif) bottom center no-repeat; }

#fp_present { background:url(../images/present_new.jpg) center right no-repeat; padding-right:460px; min-height:400px; }
#fp_present h1 { font-size:1.8em !important; color:#333; }

div.logo_box_padding, div.menu_box_padding, div.alert_box_padding { padding:8px; }
div.menu_box h1, div.alert_box h1 { font-size:1.2em; }
div.menu_box h2, div.alert_box h2 { font-size:115%;margin:8px 0;padding:0; }
div.menu_box h3, div.alert_box h3 { font-size:120%;margin:0 0 4px;padding:0; }

#maincontent_header { margin-left:185px; }
#maincontent { background:#FFFFFF !important; margin:0px; padding:25px 25px 50px 195px; /*margin-left:195px;margin-bottom:50px;margin-right:25px; margin-top:25px; */text-align:left; }
#maincontent h1, #maincontent h1 a { font-size:1.3em; font-weight:bold; margin:0px 0px 8px 0px; padding:0px; }
#maincontent h2 { color:#666666; font-size:1.1em; font-weight:bold; margin:0px 0px 20px 0px; padding:0px; }
#maincontent_padding { background:#FFF !important; padding:15px 8px 8px; }

#footer_gutter { background:#FFF url(../images/footer_edge.gif) bottom center repeat-x; clear:both; height:75px; }
#footer { color:#333; background:url(../images/footer_bg.gif) repeat;font-size:0.7em;letter-spacing:0.08em;text-align:center;width:100%; }
#footer_padding { padding:0px 13px 13px 13px; }
#footer a:link, #footer a:visited { color:#333;font-size:100%;text-decoration:none; }
#footer a:hover { color:#69c;font-size:100%;text-decoration:underline; }

table.edit_win { background:url(../images/lightblue_bg.gif) repeat; border-left:solid 1px #ccc; border-right:solid 1px #ccc; border-top:solid 1px #ccc; margin:0px; padding:0px; width:100%; }
table.edit_win td { border-bottom:solid 1px #ccc; padding:16px; text-align:left; vertical-align:top; }
table.edit_win td p { color:#666666; line-height:normal; margin:0px 0px 6px 0px; padding:0px; }
table.edit_win td h4 { color:#666; font-weight:normal; margin:0px; }
table.edit_win td h5 { color:#333333; font-size:1.15em; font-weight:bold; line-height:normal; margin:0px 0px 6px 0px; padding:0px; }
table.edit_win td img { border:solid 2px #99ccff; }
table.edit_win td img:hover { border:solid 2px #006699; }
table.edit_win td.icon { width:90px; }
table.edit_win tr.minlist { padding:0px; font-size:1.05em; vertical-align:middle; background:url(../images/alert_box.gif) repeat; }
table.edit_win tr.minlist td { padding:4px; border-bottom:solid 1px #FFF; text-align:center; }
table.edit_win tr.minlist td.mintitle { text-align:left; }
table.edit_win tr.minlist img { border:solid 1px #FFF; }
table.minedit td { padding:0px !important; border:0px !important; }
table.edit_win tr.minlist span.mintitle { display:block; padding:8px; }
table.edit_win tr.minlist span.emph { font-size:1.25em; padding-right:12px; }
table.edit_win input.extended { width:100%; }
table.edit_win span.emph { font-weight:bold; }
table.edit_win td img.icon { border:0px; }
img.icon_border { border:solid 1px #666 !important; }
td.edit_col { width:70%; }

div.view_left { float:left; margin-right:20px; height:160px; }
div.view_right { width:100%; }

table.item_details td { padding:2px; }

/*======== Control Screens =========*/
div.screenfloat { float:left; cursor:hand; border:solid 2px #cccccc; margin:6px; text-align:center; width:300px; }
div.screenfloat:hover { background:url(../images/medblue_bg.gif) top left repeat; border:solid 2px #006699; }
div.screenfloat a { display:block; }
div.screenfloat img { border:0px; }
div.screenfloat_padding { padding:25px; }
div.screenfloat h1 { font-size:1.75em !important; }
div.screenfloat h2 { font-size:1.25em !important; }
div.screenfloat h3 { color:#333; font-size:1em; font-weight:bold; }
div.screenfloat h3 a, div.screenfloat h3 a:visited { color:#333333; text-decoration:none; }
div.screenfloat h3 a:hover { color:#006699; text-decoration:underline; }

div.select { background:#006699 url(../images/menu_bg.gif) repeat; color:#FFF; margin-bottom:25px; width:100%; }
div.select_padding { padding:0px 15px; }
div.select td { padding-right:25px; }

/* ========= Common elements =========*/

/* Rounded edges */
.roundcont { border:solid 1px #999; width:100%; margin-bottom:20px; }
.roundcont_main { padding:8px 14px; }
.roundcont_main h1 { color:#333 !important; font-size:1.2em !important; font-weight:bold; }
.roundcont_main h1.fp { padding-top:12px !important; }
.roundcont p { margin: 0 10px; }
.roundtop { background: url(../images/wc_tr.gif) no-repeat top right; margin-right:-1px; }
.roundbottom { background: url(../images/wc_br.gif) no-repeat top right; margin-right:-1px; }
img.corner { width: 6px; height: 6px; border: none; display: block !important; }
img.topleft { margin-left:-1px; margin-top:-1px; }
img.botleft { margin-left:-1px; margin-bottom:-1px; }

/* Gray ACTION button */
.buttonsel { cursor: hand; color:#FFF; font-size:0.8em; font-weight:bold; text-decoration:none; height:24px; margin-bottom:10px; display:inline; }
.buttonleft { float:left; height:24px; width:12px; }
.buttonmid { height:24px; float:left; background:#999; }
.buttonmid_padding { padding:5px 5px; }
.buttonright { float:left; height:24px; width:22px; }
.buttonsel a { color:#FFF; font-size:1.2em; font-weight:bold; text-decoration:none; }
.buttonsel a:hover { color:#FFF; text-decoration:underline; }

span.emph { font-size:1.4em; }
h3 span.emph { color:#000 !important; padding-left:8px; }

/* Screens/Feeds Subscription View (screens/show.php) */
ul.subscriptions { margin:0px 25px; padding:0px; list-style:none; }
ul.subscriptions li { border:solid 1px #006699; margin-bottom:20px; background:#ccc url(../images/lightblue_bg.gif) repeat; padding:10px 20px 10px 10px; }
ul.subscriptions h2 { color:#666 !important; }
ul.subscriptions h2 span.emph { color:#000 !important; padding-right:8px; }
ul.subscriptions ul { list-style:none; }
ul.subscriptions ul li { border:solid 2px #666; }

/* New Content Tabs */
#selectdisp_left { float:left; width:17%; }
#selectdisp_right { border:solid 1px #999; padding:15px; float:right; width:78%;}
#selectmenu { width: 100%; }
.shadetabs { margin-left:3px; margin-top: 10px; margin-bottom: 0; list-style-type: none; text-align: left; /*set to left, center, or right to align the menu as desired*/ }
.shadetabs li { clear:both; margin:0; margin-bottom:2px; padding:0px; }
.shadetabs li a { text-decoration: none; border: 1px solid #999999; color: #2d2b2b; background: white url(../images/shade.gif) top left repeat-x; }
.shadetabs li a:visited { color: #2d2b2b; }
.shadetabs li a:hover { text-decoration: underline; color: #2d2b2b; }
#selectmenu li.selected a { /*selected main tab style */ background-image: url(../images/shadeactive.gif); }
#selectmenu li.selected a:hover { /*selected main tab style */ text-decoration: none; }

/* Moderate */
td.actions { color:#006699; font-weight:bold; font-size:0.9em; background:#FFF url(../images/mod_bg.gif) top right repeat-y; width:100px; border-right:solid 1px #666; vertical-align:top !important; padding-top:25px !important; text-align:right; }
td.actions h3 { background:url(../images/dur_med.gif) center right no-repeat; padding:3px 0px; padding-right:30px; }
span.approve { color:green; font-weight:bold;  display:block; font-size:1.2em; margin-bottom:8px; }
span.deny { color:red; font-weight;bold; display:block; margin-bottom:8px; font-size:1.2em; }
a:hover span.approve, a:hover span.deny { text-decoration:underline; }