/*
   CONCERTO
   CSS Document
   *************************
   These styles are used for support pages.
   Copyright 2008 Concerto Team
*/

/*========= GENERAL STYLES =========*/
body { background:#FFF; }
body, html { border:0;color:#000;font-family:"Lucida Grande",Calibri,Arial,sans-serif; font-size:small;margin:0 auto;min-width:900px; padding:0; }
a { color:#006699; font-weight:bold; text-decoration:none; }
a:hover { color:#666; text-decoration:underline; }

#left_pane { background:#069; float:left; width:24%; }
#left_pane h1 { font-size:1.2em; text-align:center; }
#left_pane h1 a { color:#FFF !important; text-align:center !important; }
#left_pane_padding { background: url(../images/br.gif) bottom right no-repeat; border-right:solid 1px #FFF; padding-bottom:12px; }
#right_pane { float:right;width:76%; }

#header { background:#000;border-bottom:6px solid #ccc;clear:both;color:#ccc;font-size:85%;margin-bottom:0px;padding:0px;text-align:left;height:8px; }
#header_padding { padding:4px 0px 0px 0px; }
#header h1 { color:#ccc;font-size:250%;font-weight:700; }
#header a:link, #header a:visited { color:#ccc;text-decoration:none; }
#header a:hover { color:#FFF;text-decoration:none; }

#content_header { background:#eaeaea;border-top:1px solid #FFF;padding-left:40px; }
#content_header h1 { color:#000;margin:0px;padding:0; }
#content_header h2 { color:#333;font-weight:700;font-size:0.85em;margin:5px 0 10px 0px;padding:0px 0px 5px 0px; }
#content_header h2 a { color:#069;text-decoration:none; }
#content_header h2 a:hover { text-decoration:underline; }
#left_bg { float:left;width:350px; }

#toc { color:#FFF; background:url(../images/menu_bg.gif) repeat; border:solid 1px #ccc; margin:15px; }
#toc a { color:#FFF; text-decoration:none; }
#toc a:hover { color:#ccc; text-decoration:underline; }
#toc a:visited { color:#ffffcc; }
#toc ol { line-height:1.8em; }


#maincontent_header { padding-left:40px; }
#maincontent { background:#FFF !important; padding-left:40px; margin-bottom:50px;margin-right:25px; margin-top:25px; text-align:left; }
#maincontent h1, #maincontent h1 a { font-size:1.4em; font-weight:bold; margin:0px 0px 20px 0px; padding:0px; }
#maincontent h2 { color:#666666; font-size:1.1em; font-weight:bold; margin:0px 0px 20px 0px; padding:0px; }
#maincontent_padding { background:#FFF; padding:15px 8px 8px; }
#maincontent img { border:solid 1px #999; margin:8px 0px; }
#maincontent div.tutelem { text-align:center; display:block; margin:30px 0px; width:100%; }
#maincontent div.tutelem p { color:#333; text-align:center; font-size:0.8em; font-weight:bold; }
#maincontent p { line-height:1.4em; margin-bottom:20px;}
#maincontent ul { line-height:1.6em; }

#footer_gutter { background:#FFF; clear:both; height:75px; }
#footer { color:#333; background:url(../images/footer_bg.gif) repeat;font-size:0.7em;letter-spacing:0.08em;text-align:center;width:100%; }
#footer_padding { padding:13px; }
#footer a:link, #footer a:visited { color:#333;font-size:100%;text-decoration:none; }
#footer a:hover { color:#69c;font-size:100%;text-decoration:underline; }

/* Rounded edges */
.roundcont { border:solid 1px #999; width:100%; }
.roundcont_main { padding:8px 14px; }
.roundcont_main h1 { color:#333 !important; font-size:1.2em !important; font-weight:bold; }
.roundcont p { margin: 0 10px; }
.roundtop { background: url(../images/wc_tr.gif) no-repeat top right; margin-right:-1px; }
.roundbottom { background: url(../images/wc_br.gif) no-repeat top right; margin-right:-1px; }
img.corner { width: 6px; height: 6px; border: none; display: block !important; }
img.topleft { margin-left:-1px; margin-top:-1px; }
img.botleft { margin-left:-1px; margin-bottom:-1px; }

/* Gray ACTION button */
.buttonsel { color:#FFF; font-size:0.8em; font-weight:bold; text-decoration:none; height:24px; margin-bottom:10px; display:inline; }
.buttonleft { float:left; height:24px; width:12px; }
.buttonmid { height:24px; float:left; background:#999; }
.buttonmid_padding { padding:5px 5px; }
.buttonright { float:left; height:24px; width:22px; }
.buttonsel a { color:#FFF; font-size:1.2em; font-weight:bold; text-decoration:none; }
.buttonsel a:hover { color:#FFF; text-decoration:underline; }

span.emph { font-size:1.4em; }
h3 span.emph { color:#000 !important; padding-left:8px; }

/* Alert Messages */
div.alertmess { width:99%; margin:0px 0px 8px 0px; font-size:1.35em; padding:3px 12px; }
div.alertmess p { margin-left:55px; font-weight:bold; padding:8px; }
div.error { background:url(../images/alert_error.gif) center left no-repeat; color:red; }
div.error p { border-top:solid 4px #ff0000; color:#ff0000; background:#ffcccc; }
div.warn { background:url(../images/alert_warning.gif) center left no-repeat; }
div.warn p { border-top:solid 4px #666600; color:#666600; background:#ffff99; }
div.stat { background:url(../images/alert_status.gif) center left no-repeat; }
div.stat p { border-top:solid 4px green; color:green; background:#ccffcc; }
div.info { background:url(../images/alert_info.gif) center left no-repeat; color:#006699; }
div.info p { border-top:solid 4px #006699; color:#006699; background:url(../images/alert_box.gif) repeat; }


/* Feedback form */
#feedback_box { min-height:110px; background:url(../images/support_icon.gif) top left no-repeat; padding-left:125px; margin: 25px 0px; }
#feedback_inner { border-left:2px solid #999; padding:20px 0px; padding-left:25px; }
#feedback_box h1 { color:#006699; font-size:1.7em !important; margin:0px; padding:0px; margin-bottom: 4px; }
#feedback_box h2 { color:#666; font-weight: normal; font-size: 1.1em !important; margin:0px; padding:0px; margin-bottom:12px; }