
    #tabs {
   border-bottom:6px solid #999;
      float:left;
   margin-bottom:12px;
      width:100%;
      min-height:18px;
      background:#000;
      font-size:100%;
      line-height:normal;
      }
    #tabs ul {
     margin:0;
     padding:10px 10px 0 195px;
     list-style:none;
      }
    #tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs a {
      float:left;
      background:url("../images/tableftH.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs a span {
      float:left;
      display:block;
      background:url("../images/tabrightH.gif") no-repeat right top;
      padding:5px 15px 4px 10px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#FFF;
      }
    #tabs a:hover {
      background-position:0% -42px;
      }
    #tabs a:hover span {
      background-position:100% -42px;
      }